<h1>Buscar empleado</h1>
<div
  class="contenedor-form"
  style="
    border: 1px solid #5d5dff;
    display: flex;
    justify-content: start;
    align-items: center;
  "
>
  <form method="get">
    {% csrf_token %}
    <label for="id">Ingresar ID del usuario</label>
    <input type="number" id="id" name="id" placeholder="Ingrese ID usuario" />
    <button type="submit">Buscar</button>
  </form>
</div>
<hr />
<h3>Lista resultados</h3>
<ul>
  {% for habilidad in habilidades %}
  <li>{{habilidad}}</li>
  {% endfor %}
</ul>
