<h1>Buscar empleados</h1>
<div
  class="contenedor-form"
  style="
    border: 1px solid #5d5dff;
    display: flex;
    justify-content: start;
    align-items: center;
  "
>
  <form method="get">
    {% csrf_token %}
    <input
      type="text"
      id="kword"
      name="kword"
      placeholder="Ingrese palabra a buscar"
    />
    <button type="submit">Buscar</button>
  </form>
</div>
<hr />
<h3>Lista resultados</h3>
<ul>
  {% for empleado in empleados %}
  <li>{{empleado}}</li>
  {% endfor %}
</ul>
