{% extends 'base.html' %}


{% block title %}
  Ver empleados
{% endblock title %}


{% block body %}
  {% include 'includes/nav.html' %}
  
  <h2 class="m-4">Ver empleados</h2>

  <form class="row m-4" method="get"> {% csrf_token %}
      <div class="mb-3 col-12">
        <label for="kword" class="form-label">Empleado</label>
        <input type="text" class="form-control" id="kword" name="kword" placeholder="Buscar empleado">
      </div>
      <button type="submit" class="btn btn-success col-12">Buscar</button>
  </form>

  <div class="container mb-4 d-flex align-items-center flex-column">
    <table class="table table-striped table-dark">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Departamento</th>
          <th>Acción</th>
        </tr>
      </thead>

      <tbody>
        {% for item in lista %}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.nombres}}</td>
          <td>{{item.apellidos}}</td>
          <td>{{item.departamento}}</td>
          <td><a href="{% url 'empleados_app:ver' item.id %}" class="btn btn-primary">Ver</a></td>
        </tr>
        {% endfor %}
      </tbody>  
    </table>
    
    {% if is_paginated %}
    <nav aria-label="Page navigation">
      <ul class="pagination">
        
        {% if page_obj.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.previous_page_number}}" aria-label="Atrás">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% endif %}
        
        {% for pagina in paginator.page_range %}
        <!-- Si la pagina es igual a la pagina actual -->
          {% if pagina == page_obj.number  %}
            <li class="page-item active"><a class="page-link" href="?page={{pagina}}">{{pagina}}</a></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{pagina}}">{{pagina}}</a></li>
          {% endif %}
        {% endfor %}
          
        {% if page_obj.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{page_obj.next_page_number}}" aria-label="Siguiente">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
        {% endif %}

        
      </ul>
    </nav>
    {% endif %}
      
    
  </div>

{% endblock body %}
  
  

