{% extends 'base.html' %}


{% block title %}
  Ver empleados
{% endblock title %}


{% block body %}
  {% include 'includes/nav.html' %}
  
  <h2 class="m-4">Ver empleados DATATABLE</h2>


  <div class="container mb-4">
    <table class="table table-striped table-dark" id="tabla">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Departamento</th>
          <th>Acción</th>
        </tr>
      </thead>

      <tbody>
        {% for item in lista %}
        <tr>
          <td>{{item.id}}</td>
          <td>{{item.nombres}}</td>
          <td>{{item.apellidos}}</td>
          <td>{{item.departamento}}</td>
          <td><a href="{% url 'empleados_app:ver' item.id %}" class="btn btn-primary">Ver</a></td>
        </tr>
        {% endfor %}
      </tbody>  
        
    </table>
  </div>
{% endblock body %}
  
  

